
recfun/target/streams/compile/copy-resources/$global/out

recfun/target/streams/compile/console/$global/out

*.jar

*.xml

*.class

*.xml

*.xml

*.properties

recfun/target/streams/$global/update/$global/out

recfun/target/streams/compile/compile/$global/out

*.xml

recfun/progfun-recfun.iml

recfun/.idea/modules/submission.iml

recfun/.idea/modules/submission-build.iml

*.iml

*.xml

example/.idea/workspace.xml

example/.idea/workspace.xml

recfun/.idea/.name

*.xml

*.css

*.xsl

recfun/submission/target/scala-2.10/cache/submission/global/update/output

recfun/target/streams/compile/compile-inputs/$global/out

recfun/target/streams/$global/update-sbt-classifiers/$global/out

recfun/project/project/target/resolution-cache/default/default-63dee9/scala_2.9.2/sbt_0.12/0.1-SNAPSHOT/resolved.xml.properties

recfun/project/project/target/resolution-cache/default/default-63dee9/scala_2.9.2/sbt_0.12/0.1-SNAPSHOT/resolved.xml.xml

recfun/project/project/target/resolution-cache/reports/default-default-63dee9-compile-internal.xml
